<link rel='stylesheet' href='/stylesheets/footer.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- Site footer -->

<div class="spacer"></div>
<footer class="site-footer transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                    GrandPappy's Poker Table is a community of poker enthusiasts that enjoy playing Texas Hold'em. We host free to play poker servers through Table Top Simulator.

                    Be sure to check out our discord to stay up to date on all news and hosting times.
                </p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Social Media</h6>
                <ul class="footer-links">
                    <li><a href="https://youtube.com/channel/UCe7nH9POwnGThPYkRSxAmFA" target="_blank">YouTube</a></li>
                    <li><a href="#">Twitch (Coming Soon)</a></li>

                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Contact</h6>
                <ul class="footer-links">
                    <li><a href="mailto:grandpapyspoker@gmail.com">Email</a></li>
                    <li><a href="http://discord.gg/Arg9hYc">Discord</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                    <a href="#">GrandPappyPoker</a>.
                </p>
                <a href="/admin">MySecrectAdminNavigationBecauseUserValidationIsNotAThing :)</a>
            </div>
        </div>
    </div>
</footer>