<!DOCTYPE html>

<html>
<head>
    <link rel="icon" type="image/png" href="<%= icon %>" style="width: 32px; height: 32px;">
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
    <link rel='stylesheet' href='stylesheets/membership.css'/>
</head>
<body>
<!-- navbar here   -->
<% include partials/navbar.ejs %>
<h1 class="Center" style="font-size: 7rem; margin-bottom: 5vh;">Memberships</h1>
<div class="col-md-8">
    <ul class="pricing_table" style="margin-bottom: 40vh;">
        <li>...</li>

        <li class="price_block">
            <h3>Donate to GPPT</h3>
            <div class="price">
                <div class="price_figure">
                    <span class="price_number">Any Amount</span>
                    <span class="price_tenure">All Donations Are Appreciated</span>
                </div>
            </div>
            <ul class="features">
                <li>We appriciate any and all support. If you do not want to sign up for a membership, consider leaving us a donation.</li>
                <li>All donations over $5 will receive:</li>
                <li>One time gift of 200,000 chips</li>
                <li>Donor save box</li>
                <li>1 Sunday Tournament Ticket(access to one Sunday tournament)</li>
            </ul>
            <div class="footer">
                <a href="https://www.paypal.com/donate?token=JvGMn1Vss_Tns_ZYDLb2ICyjgz9Kq5tBjVONui5KWmJ-8KLjWvcS-JN6aaHCrKHVy82w5PzP6xTngkCC" class="action_button">DONATE</a>
            </div>
        </li>
        <li class="price_block">
            <h3>Standard Membership</h3>
            <div class="price">
                <div class="price_figure">
                    <span class="price_number">FREE</span>
                    <span class="price_tenure">Always!</span>
                </div>
            </div>
            <ul class="features">
                <li>One time gift of 100,000 chips</li>
                <li>General access to discord</li>
                <li>Acess to GPPT and Wayne Casino any time except Sundays</li>
                <li>. . .</li>

            </ul>
            <div class="footer">
                <a href="http://discord.gg/Arg9hYc" class="action_button">JOIN FOR FREE</a>
            </div>
        </li>

        <li class="price_block">
            <h3>VIP Membership</h3>
            <div class="price">
                <div class="price_figure">
                    <span class="price_number">$6.00</span>
                    <span class="price_tenure">per month</span>
                </div>
            </div>
            <ul class="features">
                <li>Everything in Standard Membership</li>
                <li>Daily VIP Loot Box (Minimum 100,000 chips)</li>
                <li>Access to wait list priority plus program</li>
                <li>Access to the in-game VIP store</li>
                <li>Access to Sunday VIP only tournaments</li>
                <li>[Coming Soon] Access to other game servers</li>
            </ul>
            <div class="footer">
                <ul class="features"><li style="color: black">Purchase On Side</li></ul>
            </div>
        </li>
    </ul>
    <div style="width: 100%; height: 8vh;"></div>
    <div class="PurchaseNote">
        <h5><i>* No Setup Fees; and you can cancel anytime.</i></h5>
    </div>
</div>
<div class="col-md-4">
    <h1>Pre-Purchase Multiple Months</h1>
    <div data-element-type="html" class="dmCustomHtml u_1192946694" id="1192946694"> <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="ZFBUGTYES75HA"> <table> <tbody> <tr> <td style="color:White"><input type="hidden" name="on0" value="Lengths">Time Lengths</td>
                </tr>
                <tr style="height: 50px;"> <td> <select name="os0" style="color:black"> <option value="1 Month" selected="selected">1 Month $6.00 USD</option>
                            <option value="3 Months">3 Months $18.00 USD</option>
                            <option value="6 Months">6 Months $36.00 USD</option>
                            <option value="12 months">12 months $72.00 USD</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" name="currency_code" value="USD"><input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" name="submit" alt="PayPal - The safer, easier way to pay online!" border="0"><img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" onerror="handleImageLoadError(this)" style="display: none;" i31orx7kf="" width="1" height="1" border="0"></form>
    </div>
    <div style="width: 100%; height: 8vh;"></div>
    <h1>Subscribe Monthly</h1>
    <div data-element-type="html" class="u_1367586069 dmCustomHtml" id="1367586069" style="margin-top: 5vh;">
        <div id="paypal-button-container-P-45L05314L3701213LL5N5VFQ" style="margin-top: -22vh;">
            <div id="zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc" class="paypal-buttons paypal-buttons-context-iframe paypal-buttons-label-subscribe paypal-buttons-layout-vertical" data-paypal-smart-button-version="5.0.219" style="height: 201px; transition: all 0.2s ease-in-out 0s;"><style>
                    #zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        min-height: 35px;
                        min-width: 200px;
                        max-width: 750px;
                        font-size: 0;
                    }

                    #zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc > iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    #zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc > iframe.component-frame {
                        z-index: 100;
                    }

                    #zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc > iframe.prerender-frame {
                        transition: opacity .2s linear;
                        z-index: 200;
                    }

                    #zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc > iframe.visible {
                        opacity: 1;
                    }

                    #zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc > iframe.invisible {
                        opacity: 0;
                        pointer-events: none;
                    }

                    #zoid-paypal-buttons-9efbd4a497_mdq6ndk6mjc > .smart-menu {
                        position: absolute;
                        z-index: 300;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                </style><iframe style="background-color: transparent; border: medium none;" allowtransparency="true" name="__zoid__paypal_buttons__eyJ1aWQiOiJ6b2lkLXBheXBhbC1idXR0b25zLTllZmJkNGE0OTdfbWRxNm5kazZtamMiLCJjb250ZXh0IjoiaWZyYW1lIiwidGFnIjoicGF5cGFsLWJ1dHRvbnMiLCJ2ZXJzaW9uIjoiOV8wXzYzIiwiY2hpbGREb21haW4iOiJodHRwczovL3d3dy5wYXlwYWwuY29tIiwicGFyZW50RG9tYWluIjoiaHR0cHM6Ly93d3cuZ3JhbmRwYXBweXNwb2tlci5jb20iLCJwYXJlbnQiOnsidHlwZSI6InBhcmVudCIsImRpc3RhbmNlIjowfSwicHJvcHMiOnsidHlwZSI6InJhdyIsInZhbHVlIjoie1wic3R5bGVcIjp7XCJsYWJlbFwiOlwic3Vic2NyaWJlXCIsXCJsYXlvdXRcIjpcInZlcnRpY2FsXCIsXCJjb2xvclwiOlwiZ29sZFwiLFwic2hhcGVcIjpcInJlY3RcIixcInRhZ2xpbmVcIjpmYWxzZX0sXCJjcmVhdGVTdWJzY3JpcHRpb25cIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjJhMTgwODI5YzBfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcImNyZWF0ZVN1YnNjcmlwdGlvblwifX0sXCJvbkFwcHJvdmVcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjA0YTM2Y2E3ZjlfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcIm9uQXBwcm92ZVwifX0sXCJzdG9yYWdlU3RhdGVcIjp7XCJnZXRcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcImYzNTkzNDA0Y2VfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcImdldFwifX0sXCJzZXRcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcImY4OGZmMjEwY2FfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcInNldFwifX19LFwic2Vzc2lvblN0YXRlXCI6e1wiZ2V0XCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCJiMDljODMxZTIxX21kcTZuZGs2bWpjXCIsXCJuYW1lXCI6XCJnZXRcIn19LFwic2V0XCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCJlN2VmNmU5MzIxX21kcTZuZGs2bWpjXCIsXCJuYW1lXCI6XCJzZXRcIn19fSxcImNvbXBvbmVudHNcIjpbXCJidXR0b25zXCJdLFwibG9jYWxlXCI6e1wiY291bnRyeVwiOlwiVVNcIixcImxhbmdcIjpcImVuXCJ9LFwiZ2V0UHJlcmVuZGVyRGV0YWlsc1wiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiN2VhMzAwNTI5OV9tZHE2bmRrNm1qY1wiLFwibmFtZVwiOlwiZ2V0UHJlcmVuZGVyRGV0YWlsc1wifX0sXCJnZXRQb3B1cEJyaWRnZVwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiNDMzMjI1NjRhN19tZHE2bmRrNm1qY1wiLFwibmFtZVwiOlwiZ2V0UG9wdXBCcmlkZ2VcIn19LFwib25Jbml0XCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCIxZWUyNzM0YWY3X21kcTZuZGs2bWpjXCIsXCJuYW1lXCI6XCJvbkluaXRcIn19LFwiZ2V0UXVlcmllZEVsaWdpYmxlRnVuZGluZ1wiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiYTExYThmOTlkMV9tZHE2bmRrNm1qY1wiLFwibmFtZVwiOlwiZ2V0UXVlcmllZEVsaWdpYmxlRnVuZGluZ1wifX0sXCJjbGllbnRJRFwiOlwiQWJ6Tm1VckFjRHJuX1RiLVpSNy1sR2NEZ0FKNHVSbDhOUWdvaUdROTZ6a1Y0S0tqUXBOenB6bmlNVldJaEwyczhpNC1pS0NRVlgzV19ZMWlcIixcImVuYWJsZVRocmVlRG9tYWluU2VjdXJlXCI6ZmFsc2UsXCJzZGtDb3JyZWxhdGlvbklEXCI6XCJhMTI4ZjJhNWQ2OWU3XCIsXCJzdG9yYWdlSURcIjpcIjA0OTYyYWU2NWZfbWplNm50YzZtanlcIixcInNlc3Npb25JRFwiOlwiYTE0YWU3OGJiY19tZHE2bmR1Nm5kdVwiLFwiYnV0dG9uU2Vzc2lvbklEXCI6XCIxMTYxNTNkMDFhX21kcTZuZGs2bWpjXCIsXCJlbnZcIjpcInByb2R1Y3Rpb25cIixcImZ1bmRpbmdFbGlnaWJpbGl0eVwiOntcInBheXBhbFwiOntcImVsaWdpYmxlXCI6dHJ1ZSxcInZhdWx0YWJsZVwiOmZhbHNlfSxcInBheWxhdGVyXCI6e1wiZWxpZ2libGVcIjpmYWxzZSxcInByb2R1Y3RzXCI6e1wiZmxleFwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwicGF5SW40XCI6e1wiZWxpZ2libGVcIjpmYWxzZX19fSxcImNhcmRcIjp7XCJlbGlnaWJsZVwiOnRydWUsXCJicmFuZGVkXCI6dHJ1ZSxcImluc3RhbGxtZW50c1wiOmZhbHNlLFwidmVuZG9yc1wiOntcInZpc2FcIjp7XCJlbGlnaWJsZVwiOnRydWUsXCJ2YXVsdGFibGVcIjp0cnVlfSxcIm1hc3RlcmNhcmRcIjp7XCJlbGlnaWJsZVwiOnRydWUsXCJ2YXVsdGFibGVcIjp0cnVlfSxcImFtZXhcIjp7XCJlbGlnaWJsZVwiOnRydWUsXCJ2YXVsdGFibGVcIjp0cnVlfSxcImRpc2NvdmVyXCI6e1wiZWxpZ2libGVcIjp0cnVlLFwidmF1bHRhYmxlXCI6dHJ1ZX0sXCJoaXBlclwiOntcImVsaWdpYmxlXCI6ZmFsc2UsXCJ2YXVsdGFibGVcIjpmYWxzZX0sXCJlbG9cIjp7XCJlbGlnaWJsZVwiOmZhbHNlLFwidmF1bHRhYmxlXCI6dHJ1ZX0sXCJqY2JcIjp7XCJlbGlnaWJsZVwiOmZhbHNlLFwidmF1bHRhYmxlXCI6dHJ1ZX19fSxcInZlbm1vXCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJpdGF1XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJjcmVkaXRcIjp7XCJlbGlnaWJsZVwiOnRydWV9LFwic2VwYVwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwiaWRlYWxcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImJhbmNvbnRhY3RcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImdpcm9wYXlcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImVwc1wiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwic29mb3J0XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJteWJhbmtcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcInAyNFwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwiemltcGxlclwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwid2VjaGF0cGF5XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJwYXl1XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJibGlrXCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJ0cnVzdGx5XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJveHhvXCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJtYXhpbWFcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImJvbGV0b1wiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwibWVyY2Fkb3BhZ29cIjp7XCJlbGlnaWJsZVwiOmZhbHNlfX0sXCJwbGF0Zm9ybVwiOlwiZGVza3RvcFwiLFwicmVtZW1iZXJlZFwiOltdLFwiZXhwZXJpbWVudFwiOntcImVuYWJsZVZlbm1vXCI6ZmFsc2V9LFwiZmxvd1wiOlwic3Vic2NyaXB0aW9uX3NldHVwXCIsXCJyZW1lbWJlclwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiM2I0YjBkZGNkZl9tZHE2bmRrNm1qY1wiLFwibmFtZVwiOlwicmVtZW1iZXJcIn19LFwiY3VycmVuY3lcIjpcIlVTRFwiLFwiaW50ZW50XCI6XCJzdWJzY3JpcHRpb25cIixcImNvbW1pdFwiOnRydWUsXCJ2YXVsdFwiOnRydWUsXCJlbmFibGVGdW5kaW5nXCI6W10sXCJkaXNhYmxlRnVuZGluZ1wiOltdLFwiZGlzYWJsZUNhcmRcIjpbXSxcIm1lcmNoYW50SURcIjpbXSxcImNzcFwiOnt9LFwiZ2V0UGFnZVVybFwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiYjU1NWMyZmRmYl9tZHE2bmRrNm1qY1wiLFwibmFtZVwiOlwiZ2V0UGFnZVVybFwifX0sXCJkZWJ1Z1wiOmZhbHNlLFwidGVzdFwiOntcImFjdGlvblwiOlwiY2hlY2tvdXRcIn0sXCJhcHBsZVBheVN1cHBvcnRcIjpmYWxzZSxcInN1cHBvcnRzUG9wdXBzXCI6dHJ1ZSxcInN1cHBvcnRlZE5hdGl2ZUJyb3dzZXJcIjpmYWxzZX0ifSwiZXhwb3J0cyI6IntcImluaXRcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjMwNDYyMTlhNTJfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcIm1lXCJ9fSxcImNsb3NlXCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCI2N2FlNDNjYzg0X21kcTZuZGs2bWpjXCIsXCJuYW1lXCI6XCJjbG9zZTo6bWVtb2l6ZWRcIn19LFwiY2hlY2tDbG9zZVwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiNzhkNTM3MTgyOV9tZHE2bmRrNm1qY1wiLFwibmFtZVwiOlwiY2hlY2tDbG9zZVwifX0sXCJyZXNpemVcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcImYwMmYzMWU4NzVfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcInllXCJ9fSxcIm9uRXJyb3JcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjg1ZDRlZTNjMzZfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcInhlXCJ9fSxcInNob3dcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjIzYjczYzA5YmZfbWRxNm5kazZtamNcIixcIm5hbWVcIjpcIkpcIn19LFwiaGlkZVwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiN2MxMWJiNTM5ZF9tZHE2bmRrNm1qY1wiLFwibmFtZVwiOlwicmVcIn19fSJ9__" title="PayPal" allowpaymentrequest="allowpaymentrequest" scrolling="no" id="jsx-iframe-f55a75d858" class="component-frame visible"></iframe><div id="smart-menu" class="smart-menu"></div><div id="installments-modal" class="installments-modal"></div><iframe name="__detect_close_29c8f2c520_mdq6ndk6mjc__" style="display: none;"></iframe></div></div>
        <script src="https://www.paypal.com/sdk/js?client-id=AbzNmUrAcDrn_Tb-ZR7-lGcDgAJ4uRl8NQgoiGQ96zkV4KKjQpNzpzniMVWIhL2s8i4-iKCQVX3W_Y1i&amp;vault=true&amp;intent=subscription" data-sdk-integration-source="button-factory" data-uid-auto="9076dfc58f_mdq6ndk6mjc">




        </script>
        <script>


            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'subscribe'
                },
                createSubscription: function(data, actions) {
                    return actions.subscription.create({
                        /* Creates the subscription */
                        plan_id: 'P-45L05314L3701213LL5N5VFQ'
                    });
                },
                onApprove: function(data, actions) {
                    alert(data.subscriptionID); // You can add optional success message for the subscriber here
                }
            }).render('#paypal-button-container-P-45L05314L3701213LL5N5VFQ'); // Renders the PayPal button


        </script>
    </div>
</div>

<div style="width: 100%; height: 30vh;"></div>


<div class="col-md-4">


</div>
<div class="col-md-8"></div>
<div data-element-type="html" class="dmCustomHtml u_1949575026" id="1949575026"></div>

<div class ="col-md-12" style="width: 100%; height: 30vh; float: none"></div>



</body>
<script src="prefixfree.min.js" type="text/javascript"></script>
<% include partials/footer.ejs %>
</html>
