<!DOCTYPE html>

<html>
<head>
    <link rel="icon" type="image/png" href="<%= icon %>" style="width: 32px; height: auto">
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
    <link rel='stylesheet' href='stylesheets/schedule.css'/>
</head>
<body>
<!-- navbar here   -->
<% include partials/navbar.ejs %>

<iframe class="CalendarFrame" src="https://calendar.google.com/calendar/u/0/embed?src=ljqnr89qtcq0k8i5047leksk7g@group.calendar.google.com&ctz=America/New_York" frameborder="0" ></iframe>

</body>
<% include partials/footer.ejs %>
</html>



